.infoItem {
  min-width: fit-content;
}
.whoText {
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  font-size: 3vw;
  font-weight: 800;
  line-height: 3.7vw;
  padding-top: 3.125rem;
}

.info {
  margin: 1.875rem 0;
}
