@use "./theme" as *;
/* ========================================
   Global Reset & Base Style (by Yuri)
======================================== */

@font-face {
  font-family: "SUIT-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
  scroll-behavior: smooth;
}

body {
  //   cursor: url("/img/my-cursor.png"), auto;
  margin: 0;
  padding: 0;
  font-family: "SUIT-Regular", "Pretendard", "Noto Sans KR", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--main-text-color);
  background: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Element Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  background: transparent;
  &:focus {
    outline: none;
    border: none;
  }
}

/* Form Controls */
input,
select,
button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}

.flexSpace {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commonLayout {
  display: flex;
  justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--main-color) !important;
}
