:root {
  //basic mode :dark
  --bg-color: #121212;
  --main-text-color: #fff;
}

[data-theme="light"] {
  --bg-color: #f9f9f9;
  --main-text-color: #121212;
  //   --text-color: #e0e0e0;
  //   --main: #1d3bbc;
  //   --sidebar-bg: #1a1a1a;
  //   --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}
