.flexPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 6.25rem;
  justify-content: center;
}

.title {
  font-size: 6vw;
  font-weight: 700;
  margin-bottom: 3.125rem;
}

.emailContainer {
  width: 50vw;
}

.mb {
  margin-bottom: 1.25rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  border-bottom: 1px solid var(--sub-border);
}

textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--sub-border);
  border-radius: 10px;
  resize: none;
}

.sendBtn {
  padding: 0.75rem 1.5rem;
  color: var(--main-text-color);
  background: var(--sub-border);
}

.subtitle {
  font-size: 3.125rem;
  margin-bottom: 2.5rem;
}

.info {
}
