.menuBtn {
  width: fit-content;
  font-size: 1.6vw;
  height: 3.125rem;

  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 1280px) {
  .menuBtn {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .menuBtn {
    font-size: 1.875rem;
  }
}
